h1 {
    color: #d8bfd8;
}

.taylor {
    color: hotpink;
}

#cute-puppies {
    color: lavenderblush;
}

main {
    background-color: #000000;
}

body {
    background-color: rosybrown;
    font-family: "Sour Gummy", serif;
}